body{
    background-color: #1E1E1E;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

#contenedor{
    height: 600px;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.aside-1{ 
    background-color: #FA7B4C;
    box-sizing: border-box;
    float: left;
    height: 300px;
    padding: 15px;
    width: 50%;
}

.section-4{ 
    background-color: #FD885C;
    box-sizing: border-box;
    float: right;
    height: 100px;
    overflow-y: auto;
    padding: 15px;
    width: 50%;
}

.aside-5{ 
    background-color: #FF946B;
    box-sizing: border-box;
    float: right;
    height: 350px;
    overflow-y: auto;
    padding: 15px;
    width: 50%;
}

.aside-6{ 
    background-color: #FFA07B;
    box-sizing: border-box;
    float: left;
    height: 600px;
    overflow-y: auto;
    padding: 15px;
    width: 25%;
}

.section-3{ 
    background-color: #FFAC8B;
    box-sizing: border-box;
    float: left;
    height: 600px;
    padding: 15px;
    width: 25%;
}

.footer-6{ 
    align-items: center;
    background-color: #FFB89B;
    display: flex;
    float: right;
    gap: 20px;
    height: 150px;
    justify-content: center;
    width: 50%;
}

.botones{
    height: 150px;
    transition: transform 0.3s ease;
    width: 150px;
}

.botones:hover {
    transform: scale(1.1);
}